<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div id="rotate-prompt">
      Rotate into landscape mode to load synth
    </div>
    
    <div id="fullscreen-prompt">
      <button id="fullscreen-button">
        Go fullscreen
      </button>
    </div>
    
    <div id="synth">
      
      <div id="canvas-container">
        <canvas id="canvas2" width="400" height="400"></canvas>
      </div>
      
      <div id="oscilloscope-container">
        <canvas id="canvas-oscilloscope" ></canvas>
      </div>
      
      <div id="reverb-button">
        <span id="effects-reverb-status">off</span>
        <button id="toggle-reverb">
          REVERB
        </button>
      </div>
      
      <select id="ir-select" onchange="irChange(this.value)">
        <option value="https://cdn.glitch.com/89f940ce-ef08-4291-b87f-d15d892a941f%2FConic%20Long%20Echo%20Hall.wav?1548283935116">Hall</option>
        <option value="https://cdn.glitch.com/89f940ce-ef08-4291-b87f-d15d892a941f%2FParking%20Garage.wav?1548284492846">Garage</option>
        <option value="https://cdn.glitch.com/89f940ce-ef08-4291-b87f-d15d892a941f%2FSt%20Nicolaes%20Church.wav?1548284545670">Church</option>
        <option value="https://cdn.glitch.com/89f940ce-ef08-4291-b87f-d15d892a941f%2FChateau%20de%20Logne%2C%20Outside.wav?1548284566805">Outside</option>
      </select>
      
      <div id="filter-button">
        <span id="effects-filter-status">off</span>
        <button id="toggle-filter">
          FILTER
        </button>
      </div>

      <select id="filter-select" onchange="filterChange(this.value)">
        <option value="lowpass">Lowpass</option>
        <option value="bandpass">Bandpass</option>
        <option value="highpass">Highpass</option>
      </select>
      
      <button id="clear-canvas">
        CLEAR
      </button>

      <div id ="display">
        <span id="display-info">
        </span>
        <br/>
        <span id="display-info-extra">
        </span>
      </div>
      <div id="white-keys-display">
        <button class="keyboard-key-display" value="Z" type="white"></button>
        <button class="keyboard-key-display" value="X" type="white"></button>
        <button class="keyboard-key-display" value="C" type="white"></button>
        <button class="keyboard-key-display" value="V" type="white"></button>
        <button class="keyboard-key-display" value="B" type="white"></button>
        <button class="keyboard-key-display" value="N" type="white"></button>
        <button class="keyboard-key-display" value="M" type="white"></button>
      </div>
      <div id="keyboard">
        <div id="white-keys">
          <button class="keyboard-key" id="Z" value="130.81" type="white">Z</button>
          <button class="keyboard-key" id="X" value="146.83" type="white">X</button>
          <button class="keyboard-key" id="C" value="164.81" type="white">C</button>
          <button class="keyboard-key" id="V" value="174.61" type="white">V</button>
          <button class="keyboard-key" id="B" value="196.00" type="white">B</button>
          <button class="keyboard-key" id="N" value="220.00" type="white">N</button>
          <button class="keyboard-key" id="M" value="246.94" type="white">M</button>
        </div>

        <div id="black-keys">
          <button class="keyboard-key" id="S" value="138.59" type="black">S</button>
          <button class="keyboard-key" id="D" value="155.56" type="black">D</button>
          <button class="keyboard-key" id="G" value="185.00" type="black">G</button>
          <button class="keyboard-key" id="H" value="207.65" type="black">H</button>
          <button class="keyboard-key" id="J" value="233.08" type="black">J</button>
        </div>
      </div>

      <div id="octave-wrapper">
        <button class ="octave-button" id="octave-up" value="2" >^</button>
        <span id="octave-text">1</span>
        <button class="octave-button" id="octave-down" value ="0.5" >v</button>
      </div>
      <div id="knob1">
        <span class="knob-info">HZ</span>
      </div>
      <div id="knob2">
        <span class="knob-info">VOL</span>
      </div>

      
    </div>
    <script src="/pureknob.js"></script>
    <script>
      var myKnob = pureknob.createKnob(300, 300);
      myKnob.setValue(80);
      // myKnob.setPeaks([0.5]);
      myKnob.setProperty("minVal", 0.1);
      myKnob.setProperty("maxVal", 1.0);
      myKnob.setProperty("colorBG", "#1b55f7");
      myKnob.setProperty("colorFG", "orange");
      myKnob.setProperty("trackWidth", 0.5);
      myKnob.setProperty("textScale", 0);
      myKnob.setProperty('angleStart', -0.75 * Math.PI);
      myKnob.setProperty('angleEnd', 0.75 * Math.PI);

      var listener = function(knob, value) {
        updateVolume(value);
      };
      myKnob.addListener(listener);
      
      var node = myKnob.node();
      node.style.width = "100%";
      node.style.height = "100%";
      var elem = document.getElementById("knob2");
      elem.appendChild(node);
      
      
      var myKnob2 = pureknob.createKnob(300, 300);
      myKnob2.setValue(80);
      // myKnob.setPeaks([0.5]);

      myKnob2.setProperty("minVal", 120);
      myKnob2.setProperty("maxVal", 5000);
      myKnob2.setProperty("colorBG", "#1b55f7");
      myKnob2.setProperty("colorFG", "orange");
      
      myKnob2.setProperty("trackWidth", 0.5);
      myKnob2.setProperty("textScale", 0);
      myKnob2.setProperty('angleStart', -0.75 * Math.PI);
      myKnob2.setProperty('angleEnd', 0.75 * Math.PI);

      var listener2 = function(knob, value) {
        updateFilterFrequency(value);
      };
      myKnob2.addListener(listener2);
      
      var node2 = myKnob2.node();
      node2.style.width = "100%";
      node2.style.height = "100%";
      var elem = document.getElementById("knob1");
      elem.appendChild(node2);
      
          </script>
  </body>
</html>
 