<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="section" id= "top">
      <h2>
        Draw and hear wave shapes by adding points on the canvas
      </h2>
    </div>

    <div class="section" id="middle">
      <p>
        Canvas
      </p>
      <canvas id="canvas2" width="300" height="300"></canvas>
      <div class ="container-actions">
        <span class="label">Tone</span>
        <input id="input-frequency" type="number" value="130.81" min="40" max="987.76" />
        <button id="set-tone">
        Set tone
        </button>
        <button id="init">
          Play/Pause
        </button>
      </div>
      
      <div id="container-oscilloscope">
        <p>
          Oscilloscope
        </p>
        <canvas id="canvas-oscilloscope" width="300" height="150"></canvas>
    
      </div>
    </div>
    
    <div class="section" id="bottom">
      <button id="clear-canvas">
        Clear canvas
      </button>
      
    </div>
    
    <div id="keyboard">
      <p>
        Keyboard
      </p>
      
      <div id="black-keys">
        <button class="keyboard-key" id="S" value="138.59"><span>S</span></button>
        <button class="keyboard-key" id="D" value="155.56"><span>D</span></button>
        <button class="keyboard-key" id="G" value="185.00"><span>G</span></button>
        <button class="keyboard-key" id="H" value="207.65"><span>H</span></button>
        <button class="keyboard-key" id="J" value="233.08"><span>J</span></button>
      </div>
      
      <div id="white-keys">
        <button class="keyboard-key" id="Z" value="130.81"><span>Z</span></button>
        <button class="keyboard-key" id="X" value="146.83"><span>X</span></button>
        <button class="keyboard-key" id="C" value="164.81"><span>C</span></button>
        <button class="keyboard-key" id="V" value="174.61"><span>V</span></button>
        <button class="keyboard-key" id="B" value="196.00"><span>B</span></button>
        <button class="keyboard-key" id="N" value="220.00"><span>N</span></button>
        <button class="keyboard-key" id="M" value="246.94"><span>M</span></button>
      </div>
      
      <span id="octave-text">
        Octave: 2
      </span>
      <button class ="octave-button" id="octave-up" value="2" ><span>Up</span></button>
      <button class="octave-button" id="octave-down" value ="0.5" ><span>Down</span></button>
      
      <input type="range" id="detune" min="0" max="1200"
             value="0"/>
      
      
    </div>

  </body>
</html>
