*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

#synth {
  user-select: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "draw draw draw draw osc osc osc osc osc expand"
    "draw draw draw draw osc osc osc osc osc info"
    "draw draw draw draw verb verb verb-select verb-select vol-knob vol-knob"
    "draw draw draw draw filter filter filter-select filter-select freq-knob freq-knob"
    "clear clear keys keys keys keys keys keys keys octave"
    "display display keys keys keys keys keys keys keys octave";

  background:#e3e3e3;
}

select {
  width:100%;
  height:65%;
  cursor:pointer;
}
button {
  cursor:pointer;
}

#display-info {
  box-sizing: border-box;
}
#display-info-extra {
  box-sizing: border-box;
}


#canvas2 {
  position:absolute;
  width:100%;
  height:100%;
  cursor:crosshair;
}
#canvas-oscilloscope {
  position:absolute;
  width:80%;
  height:60%;
} 

#canvas-container {
  grid-area: draw;
  position:relative;
}
#oscilloscope-container {
  grid-area: osc;
  position:relative;
}
#reverb-button {
  grid-area: verb;
  display: grid;
  grid-template-columns: 20% 80%;
}
#filter-button {
  grid-area: filter;
  display: grid;
  grid-template-columns: 20% 80%;
}
#ir-select {
  grid-area: verb-select;
}
#filter-select {
  grid-area: filter-select;
}
#clear-canvas {
  grid-area: clear;
}
#keyboard {
  /* margin: 0 2vw; */
  grid-area: keys;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#black-keys {
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#S {
  grid-column: 1/4;
  margin-left:40%;
  margin-right:16%;
}
#D {
 grid-column: 4/6;
  margin-left:5%;
  margin-right:28%;
}
#G {
 grid-column: 6/9;
  margin-left:57%;
}
#H {
  grid-column: 9/11;
  margin-left:31%;
  margin-right:3%;
}

#J {
  grid-column: 11/14;
  margin-left:17%;
  margin-right:39%;
}
/* extended white keys for aesthetic reasons */
#white-keys-display {
  /* margin: 0 2vw; */
  grid-column: 3 / 10;
  grid-row: 5 / 7; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#white-keys {
  grid-row: 4 / 6;
  border:none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#octave-wrapper {
  grid-area: octave; 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap:0;
}
#octave-wrapper > button {
  width:80%;
  height:100%;
  margin:0 10%;
}

#octave-text {
  width:80%;
  height:100%;
  margin:0 10%;
}
#display {
  grid-area: display;
}

#fullscreen-prompt {
  display:none;
  position:absolute;
}

#knob-volume {
  grid-area: vol-knob;
  position:relative;
}
#knob-freq {
  grid-area: freq-knob;
  position:relative;
}


#rotate-prompt {
  position:absolute;
  display:none;
}
#fullscreen-button {
  grid-area: expand;
  width: 100%;
  height: 100%;
}
#info-button {
  grid-area: info;
  width: 100%;
  height: 100%;
}

#info-screen {
  position:absolute;
  display:none;
  top: 0;
  right: 0;
  z-index:2;
}
#back-button {
  right: 16px;
  top: 16px;
}
