*{
  box-sizing: border-box;
  overflow:hidden;
  padding: 0;
  margin: 0;
  
}


select {
  width:100%;
  height:65%;
  cursor:pointer;
}
button {
  font-size: 1.9vw;
  cursor:pointer;
  font-weight:bold;
  background:none;
  border:1px solid black;
  border-radius:1vw;
}
#filter-select, #ir-select {
  width:95%; 
  font-size: 1.8w;
}
#toggle-filter, #toggle-reverb{
  height:65%;
  width:61%;
  margin-left:25%;
}
#toggle-filter:active, #toggle-reverb:active{
  background:yellow;
}
#effects-filter-status {
  
  background:red;
  width:3.6vw;
  border-radius:100%;
/*   border:0.2vw solid #999; */
}
#effects-reverb-status {
  position:absolute;
  background:red;
  width:3.6vw;
  border-radius:100%;
  color: rgba(1, 1, 1, 0);
}
.knob-info {
  font-size:2vw; 
  margin: 4vh 25%;
  width:50%;
  min-height: 5vh;
  text-align:center;
}

#canvas2 {
  width:95%;
  height:95%;
  cursor:crosshair;
  border-radius:2%;
}
#canvas-oscilloscope {
  margin: 5% 0;

} 
select {
  font-family: 'Roboto', sans-serif;
  font-size:2.2vw; 
}
#synth {
  width: 100vw;
  height: 56.25vw;
  max-height:100vh;
  font-family: 'Roboto', sans-serif;
  background:#e3e3e3;
}

#clear-canvas {
  margin-bottom:25%;
  margin-left:10%;
}
#keyboard {
  margin: 0 2vw;
}

#black-keys > button {
  border:1px solid #888;
  background:#333;
  font-size:1.5vw; 
  color:#eee;
  border-radius: 0 0 .7vw .7vw;
}

/* extended white keys for aesthetic reasons */
#white-keys-display {
  margin: 0 2vw;
}

#white-keys > button {
  border-radius:0;
  border:none;
  background:none;
}
#white-keys-display > button {
  font-size:3vw; 
  font-weight:500;
  background:white;
  border:1px solid #888;
  border-radius: 0 0 .5vw .5vw;
}

#white-keys-display > button.button-pressed { 
  background: orange;
  border-radius: 0 0 0.5vw 0.5vw;
/*   box-shadow: inset 0vw 1vw 2vw -.4vw rgba(0,0,0,0.35); */
}
#black-keys > button.button-pressed { 
  background: orange;
  box-shadow:none;
}

#octave-up {
  width:70%;
  height:60%;
  margin: 20% 10%;
  background:inherit;
  border:0;
}
#octave-down {
  width:70%;
  height:60%;
  margin: 20% 10%;
  background:inherit;
  border:0;
  
}
#octave-up:active, #octave-down:active {
  background:yellow; 
}
#octave-text {
  background:black;
  color:white;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#display {
  height:100%;
  grid-column: 1/3;
  grid-row: 6/7; 
  font-size:75%;
  background:black;
  color:red;
  border-radius:0.5vw;
  
}
#display-info-extra {
   font-size:75%;
}
#knob1, #knob2 {
  margin:5%; 
}
#fullscreen-button {
  height:65%;
  margin:10%;
}
#fullscreen-button >img {
  width:6vh;
  max-height:3vw;
}
#info-button {
  height:65%;
  margin:10%;
}
#info-button >img {
  width:5vh;
  max-height:2.5vw;
}
.octave-button >img {
  width:6vh;
  max-height:4vw;
}
#back-button {
  width:6vw;
  height:5vw;
  float:right;
}
#back-button >img {
  width:80%;
  height:70%;
}
#info-screen {
  width:80vw;
  padding:5vh 5vw; 
  font-family: 'Roboto', sans-serif;
  font-size:2vw; 
  background:white;
  z-index:-2;
  margin-left: 20vw;
/*   line-height:4vh; */
}
.slide-in {
  animation : slide-in .5s forwards;
}
.slide-out {
  animation : slide-out .5s forwards;
}
.fade-in {
  animation : fade-in .5s forwards;
}
.fade-out {
  animation : fade-out .5s forwards;
}

#info-text-container {
  margin-right: 7vw; 
  margin-top:4vh;
  max-height:100vh;
}
.info-paragraph {
  margin-bottom: 2vh; 
}
@media screen and (max-width: 992px) {
  #black-keys > button {
    font-size:0;
  }
  #white-keys > button {
    font-size:0;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}
@keyframes slide-in {
  from {
    transform : translateX(80vw);
  }
  to {
    transform : translateX(0);
    z-index:5;
  }
}
@keyframes slide-out {
  from {
    z-index:5;
    transform : translateX(0);
  }
  to {
    transform : translateX(80vw);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}
@keyframes fade-out {
  from {
    opacity: .5;
  }
  to {
    opacity: 0;

  }
}
/* remove key letters on tablets and phones */
@media screen and (max-width: 992px) {
  #black-keys > button {
    font-size:0;
  }
  #white-keys > button {
    font-size:0;
  }
}
@media screen and (min-width: 1100px) and (min-height: 618px){
  #synth {
    max-width: 1100px;
    max-height: 618px;
  }
  button {
    font-size: 2.3vh; 
  }
  #ir-select, #filter-select {
    font-size: 2.3vh; 
  }
  #effects-reverb-status, #effects-filter-status {
    width:4vh;
    height:4vh;
  }
  .knob-info {
    font-size: 16pt; 
    margin: 30px 25px;
    width:50%;
    min-height: 5vh;
    text-align:center;
  }
  
}
#synth.is-fullscreen {
  max-width: 100vw;
  height: 56.25vw;
  max-height:100vh;
}
#overlay {
  background:black;
  z-index:1;
  width:100vw;
  height: 56.25vw;
  max-height:100vh;
  position:absolute;
  display:none;
  pointer-events:none;
}