/* styles */
/* called by your view template */

* {
  
  border:1px solid #ccc;
}

html, body {
  padding: 0;
  margin: 0; 
/*   this "hack" disables scrolling on touch devices */
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background: #fafafa;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  display:inline-block;
  margin:0;
}


input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  display:block;
  
}
.container-actions > input {
  margin-top:5px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
/*   box-shadow: 2px 2px teal; */
  cursor: pointer;
  min-height:5vh;
}

button:hover {
  background-color: yellow;
}

button:active {
  background: #4fc3ff;
}

.container-actions > button {
  display:block;
  margin-bottom:10px;
}
#set-tone {
  background:white;
  padding:5px; 
  transition: all 0.2s;
}
#set-tone:hover {
  background: #0f7cfe;
  color:white;
  transition: all 0.2s;
}

#init {
  background: #0f7cfe;
  color:white;
  padding:5px; 
  transition: all 0.2s;
}
#init:hover {
 background: #086cdc;
  transition: all 0.2s;
}
#clear-canvas {
  background:white;
  padding:5px; 
  transition: all 0.2s;
}
#clear-canvas:hover {
  background: #ee1462;
  
  transition: all 0.2s;
}

li {
  margin-bottom: 5px;
}
span {
  pointer-events:none; 
}

.container-actions {
  float:left; 
}
#clear-canvas {
  
}
#header {
  display:block;
  min-width:200px;
  overflow:hidden;
}

#canvas2 {
  float:left;
  max-width: 40vw;
  max-height: 60vh;

/*   box-shadow: -3px 3px 12px #eee; */
}
#main {

  max-height: 60vh;
}
#canvas2:hover {
 cursor:crosshair; 
}

#clear-canvas {
  left: 0;
}
#canvas-oscilloscope {
  max-height: 17vh;

}
.keyboard-key {
  min-width:48px;
}

#black-keys {
 margin-left:30px; 
}
#black-keys > button{ 
  margin-right:12px;
  background:#888;
  min-width:35px;
  min-height:50px;
}
#white-keys > button {
  min-height:65px; 
  background:#fcfcfc;
  float:left;
}
#black-keys > button.button-pressed { 
  background: yellow;
}
#white-keys > button.button-pressed {
  background: yellow;
}
#G {
  margin-left:40px;
}
#H {
 margin-left: -2px;
}
#J {
 margin-left: -4px;
}

#container-oscilloscope {
  float:left;
}
#top {
  display:grid;
  grid-template-columns: 40vw 60vw;
  max-height: 60vh;
  min-width:100vw;
}
#bottom {
 display:grid;
  grid-template-columns: minmax(30%, 45%) minmax(70%, 55%);
}
#bottom-left {
  min-width:100px;
}
#synth {
/*   width: 1000px;
  height:600px; */
/*   width: 100%;
  height:100%; */
  min-height: 100%;
  background:white;
}
.octave-button {
  min-height:100%;
  width:33px;
}
#octave-container {
  display:grid;
  grid-template-rows: 33%, 33%, 33%;
}
#display-info-extra {
  display:block; 
}
