*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border:1px solid black;
}
#synth {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 62.5vw;
  background: hotpink;
}
#top {
  background:black;
  grid-row: 1 / 5; 
  grid-column: 1 / 11;
}
#main {
  grid-column: 5 / 11;
  grid-row: 1 / 5; 
}
#canvas2 {
  grid-column: 1 / 5;
  grid-row: 1 / 5; 
  background: green;
}
#keyboard {
  grid-column: 3 / 10;
  grid-row: 5 / 7; 
  background:white;
}
#bottom {
  grid-column: 1 / 11;
  grid-row: 5 / 7; 
}